/*COUNTER_FIRST*/
@charset "ISO-8859-1";
*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.hero
{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: linear-gradient
    (
        180deg    
        rgb(71, 216, 156),
        rgb(136, 117, 117),
        rgb(84, 183, 240)
    ),
        url('background.jpg') center center fixed;
}
.row
{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
i
{
    padding-bottom: 15px;
}
.col
{
    flex-basis: 22%;
    text-align: center;
    color: white;
}
.counter-box
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(233, 211, 14),rgb(207, 23, 23),rgb(73, 24, 187));
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 20px -4px #0ff822;
}